<%- include('../partials/head.ejs', { title: 'My Groups' }) %>

<div class="row pb-5">
  <h1><%= adminPage ? 'Group management' : 'Groups' %></h1>
  <% if (groupNumber > 0) { %>
	<p class="my-3 groupTitle">Group<%= groupNumber===1 ? 's' : '' %> ( <%= groupNumber %> )</p>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Created</th>
			<th>Owner</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% groupItems.forEach( el=> { %>
			<tr>
				<td>
					<%= el.name %>
				</td>
				<td>
					<%= el.createdAt.toLocaleDateString('en-US', {'month': 'short' , 'day' : 'numeric' , 'year' : 'numeric' }) %>
				</td>
				<td>
					<%= el.groupAdmin[0].username %>
				</td>
				<td>
					<i class="fa-solid fa-users" title="Edit Group Members"></i>
					<% if (isAdmin || el.groupAdmin[0].email===currentUser.email) { %>
						<a href="/groups/editGroup/<%= el._id %>" title="Edit <%= el.name %>"><i class="fas fa-edit"></i></a>

	<i class="fas fa-trash"></i>
	<% } else { %>
		<i class="fas fa-edit d-none"></i></a>
		<% } %>
			</td>
			</tr>
			<tr>
				<td colspan="4">
					<strong>Description:</strong>
					<%= el.description %>
				</td>
				</tr>
				<% }) %>
	</tbody>
	</table>

  <% } else { %>
  <p>You have joined 0 groups. <a href="/group/createGroup" title="Create a group">Create a group</a></p>
  <% } %>

</div>

<script>
  const icoEdit = document.querySelectorAll('.fa-edit');

  icoEdit.forEach((el) => {
      el.stopPropagation();
  })


</script>
<%- include('../partials/footer.ejs') %>
